---
layout: default_de
title: Blog | Vedanova

---
<div id="post">

    <div class="row">

        <!-- start: Page section -->
        <section id="page-sidebar" class="pull-left span8">

            <!-- start: posts-->
            {% for post in site.posts %}
            <article class="blog-post">
                <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>

                <div class="blog-post-inner">
                    <div class="post-content">
                        <div class="row-fluid">
                            <ul class="post-meta">
                                <li>
                                    <a href="#" class="post-meta-date">
                                        <span class="line1">{{post.date | date_to_string}}</span>
                                    </a>
                                </li>
                                {% for category in post.categories %}
                                <li><span class="post-meta-label"><i class="icon-tags"></i></span> <a
                                        href="#">{{category}}</a></li>
                                {% endfor %}
                            </ul>
                            {{post.excerpt}}
                            <a href="{{post.url}}">read more</a>
                        </div>
                    </div>
                </div>
            </article>
            <!-- end: posts-->
            {% endfor %}
        </section>

        <!-- end: Page section -->

        <aside id="sidebar" class="span4 pull-right">

            <!-- start: Tag Cloud -->
            <section class="widget">

                <h3 class="widget-title">Tag Cloud</h3>

                <div class="tags">
                    {% for tag in site.tags %}
                    <a href="#"><i class="icon-tag"></i>{{ tag | first }}</a>
                    {% endfor %}
                </div>
            </section>
            <!-- end: Tag Cloud -->

            <!-- start: popular posts-->
            <section class="widget popular-posts">

                <h3 class="widget-title">Popular Posts</h3>
                {% for post in site.posts %}
                <div class="widget-inner">
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading"><a href="./blog-single.html">{{ post.title }}</a></h4>

                            <p>{{ post.excerpt_short}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </section>
            <!-- end: popular posts-->


        </aside>
        <!-- end: Sidebar -->

    </div>


</div>
