<aside id="sidebar" class="span4 pull-right">

    <section class="widget">

        <h3 class="widget-title">About me</h3>

        <p>
            I'm an experienced software architect
            helping companies to bring their projects
            to life.
        </p>
        <a class="btn btn-primary" href="/unternehmen.html">Available for hire.</a>


    </section>

    <!-- start: Tag Cloud -->
    <!--<section class="widget">-->

    <!--<h3 class="widget-title">Categories</h3>-->

    <!--<div class="tags">-->
    <!--{% for tag in site.categories %}-->
    <!--<a href="#"><i class="icon-tag"></i>{{ tag | first }}</a>-->
    <!--{% endfor %}-->
    <!--</div>-->
    <!--</section>-->
    <!-- end: Tag Cloud -->

    <!-- start: popular posts-->
    <section class="widget popular-posts">

        <h3 class="widget-title">Latest Posts</h3>
        {% for post in site.posts limit: 6 %}
        <div class="widget-inner">
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><a href="{{post.url}}">{{ post.title }}</a></h4>

                    <p>{{ post.excerpt_short}}</p>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
    <!-- end: popular posts-->

    <section class="widget">

        <h3 class="widget-title">Twitter</h3>

        <a class="twitter-timeline" href="https://twitter.com/vedanova" data-widget-id="486038386407256065">Tweets von @vedanova</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </section>




</aside>
<!-- end: Sidebar -->