<!-- start: Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3 class="widget-title">Address</h3>

                <div class="widget-inner" itemscope itemtype="http://schema.org/Organization">
                    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <ul class="icons-ul">
                            <li><i class="icon-li icon-name"></i>Vedanova</li>
                            <li>
                                <div>
                                    <i class="icon-li icon-map-marker"></i><span
                                        itemprop="streetAddress">Elsterweg 3</span>,
                                    <span itemprop="postalCode">6850</span>
                                    <span itemprop="addressLocality">Dornbirn</span><br>
                                    <span itemprop="addressRegion">Vorarlberg</span>,
                                    <span itemprop="addressCountry">Austria</span>
                                </div>
                            </li>
                            <li><i class="icon-li icon-phone"></i><span itemprop="telephone">+43 (0) 5572/401038</span>
                            </li>
                            <li><i class="icon-li icon-envelope"></i><span
                                    itemprop="email">info(-at-)vedanova.com</span></li>
                        </ul>
                    </address>
                    <!--<p><a href="./contact.html" class="btn btn-primary">Get in Touch</a></p>-->
                </div>
                {% include social_widgets.html %}
            </div>
            <div class="span4">
                <h3 class="widget-title">About Us</h3>

                <div class="widget-inner">
                    <p>Vedanova is a software consultancy that designs and develops custom applications. We guide our
                        client from the start of an idea to the final implementation.</p>
                </div>
                <!--h3 class="widget-title">Stay Updated</h3>
                <div class="widget-inner">
                    <p>Sign up for our newsletter. We won't share your email address.</p>
                    <form>
                        <div class="input-append">email
                            <input type="email" name="email" class="span3" placeholder="Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div-->
            </div>
            <div class="span4">
                <h3 class="widget-title">Blog</h3>

                <ul class="icons-ul lates-blog-post">
                    {% for post in site.posts limit:3  %}
                    <li>
                        <i class="icon-li icon-chevron-right"></i><a href="{{ post.url }}">{{ post.title }}</a>

                        <p>{{ post.excerpt_short }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
{% include google_analytics.html %}