<!-- start: Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3 class="widget-title">Address</h3>
                <div class="widget-inner" itemscope itemtype="http://schema.org/Organization">
                    <address  itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <ul class="icons-ul">
                            <li><i class="icon-li icon-name"></i>Vedanova</li>
                            <li>
                              <div>
                                <i class="icon-li icon-map-marker"></i><span itemprop="streetAddress">Elsterweg 3</span>,
                                <span itemprop="postalCode">6850</span>
                                <span itemprop="addressLocality">Dornbirn</span><br>
                                <span itemprop="addressRegion">Vorarlberg</span>,
                                <span itemprop="addressCountry">Austria</span>
                              </div>
                            </li>
                            <li><i class="icon-li icon-phone"></i><span itemprop="telephone">+43 (0) 680 1429277</span></li>
                            <li><i class="icon-li icon-envelope"></i><span itemprop="email">info(-at-)vedanova.com</span></li>
                        </ul>
                    </address>
                    <!--<p><a href="./contact.html" class="btn btn-primary">Get in Touch</a></p>-->
                </div>
                <!--h3 class="widget-title">Follow Us</h3>
                <div class="widget-inner">
                    <ul class="social clearfix">
                        <li><a href="#" data-original-title="Facebook" data-placement="top" rel="tooltip">
                            <i class="icon-facebook-sign"></i>
                        </a></li>
                        <li><a href="#" data-original-title="Twitter" data-placement="top" rel="tooltip">
                            <i class="icon-twitter-sign"></i>
                        </a></li>
                        <li><a href="#" data-original-title="Linkedin" data-placement="top" rel="tooltip">
                            <i class="icon-linkedin-sign"></i>
                        </a></li>
                        <li><a href="#" data-original-title="Pinterest" data-placement="top" rel="tooltip">
                            <i class="icon-pinterest-sign"></i>
                        </a></li>
                        <li><a href="#" data-original-title="Google+" data-placement="top" rel="tooltip">
                            <i class="icon-google-plus-sign"></i>
                        </a></li>
                    </ul>
                </div-->
            </div>
            <div class="span4">
                <h3 class="widget-title">About Us</h3>
                <div class="widget-inner">
                    <p>Vedanova is a software consultancy that designs and develops custom applications. We guide our client from the start of an idea to the final implementation.</p>
                </div>
                <!--h3 class="widget-title">Stay Updated</h3>
                <div class="widget-inner">
                    <p>Sign up for our newsletter. We won't share your email address.</p>
                    <form>
                        <div class="input-append">email
                            <input type="email" name="email" class="span3" placeholder="Email Address">
                            <button class="btn btn-primary">Sign Up</button>
                        </div>
                    </form>
                </div-->
            </div>
            <div class="span4">
                <h3 class="widget-title">Imprint</h3>

                <div class="widget-inner">
                    <div itemscope itemtype="http://schema.org/Organization">
                        <p><span itemprop="name">Vedanova e.U.</span><br>
                            <span itemprop="member" itemscope itemtype="http://schema.org/Organization">Dipl. Ing (FH) Mag. Christoph Klocker</span><br>

                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">Elsterweg 3</span>,
                            <span itemprop="postalCode">6850</span>
                            <span itemprop="addressLocality">Dornbirn</span><br>
                            <span itemprop="addressRegion">Vorarlberg</span>,
                            <span itemprop="addressCountry">Austria</span>
                        </div>
                        <br>
                        <br>
                        FN 361769 p LG Feldkirch<br>
                        Ust-IdNr.: ATU66426129</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
{% include google_analytics.html %}