<!-- start: Top Menu -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img src="/images/logo.png" style="height: 40px !important"/> </a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    {% for link in page.navigation %}
                    <li
                    {% if page.url == link.url %}class="active"{% endif %}>
                    <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="flag-dropdown"><i class="lang flags-at"></i><b class="caret"></b></div>
                        </a>
                        <ul class="dropdown-menu" id="lang-dropdown">
                            <li><a href="/en/index.html"><i class="lang flags-gb"></i></a></li>
                        </ul>
                    </li>

                    <!--<li class="active"><a href="./index.html">Home</a></li>-->
                    <!--<li class="active"><a href="./portfolio.html">Portfolio</a></li>-->
                    <!--li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="./about.html">
                            Services</a>
                        <ul class="dropdown-menu">
                            <li><a href="./about.html">About Us</a></li>
                            <li><a href="./services.html">Our Services</a></li>
                            <li><a href="./full-width.html">Full Width</a></li>
                            <li><a href="./font-icons.html">All Icons</a></li>
                            <li><a href="./price-table.html">Price Table</a></li>
                            <li><a href="./404.html">404 Page not found</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="./bs-scaffolding.html">
                            Bootstrap Styles</a>
                        <ul class="dropdown-menu">
                            <li><a href="./bs-scaffolding.html">Scaffolding</a></li>
                            <li><a href="./bs-base-css.html">Base CSS</a></li>
                            <li><a href="./bs-components.html">Components</a></li>
                            <li><a href="./bs-javascript.html">JavaScript</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="./portfolio.html">
                            Portfolio</a>
                        <ul class="dropdown-menu">
                            <li><a href="./portfolio.html">Portfolio</a></li>
                            <li><a href="./portfolio-single.html">Single Portfolio</a></li>
                            <li><a href="./portfolio-h2.html">Portfolio (animation 2)</a></li>
                            <li><a href="./portfolio-h3.html">Portfolio (animation 3)</a></li>
                            <li><a href="./portfolio-h4.html">Portfolio (animation 4)</a></li>
                            <li><a href="./portfolio-h5.html">Portfolio (animation 5)</a></li>
                            <li><a href="./portfolio-h6.html">Portfolio (animation 6)</a></li>
                            <li><a href="./portfolio-h7.html">Portfolio (animation 7)</a></li>
                            <li><a href="./portfolio-h8.html">Portfolio (animation 8)</a></li>
                            <li><a href="./portfolio-h9.html">Portfolio (animation 9)</a></li>
                            <li><a href="./portfolio-h10.html">Portfolio (animation 10)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="./blog-sidebar-right.html">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="./blog-sidebar-right.html">Blog</a></li>
                            <li><a href="./blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    <li><a href="./contact.html">Contacts</a></li>
                    <li><a href="#">DE</a></li-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- start: Top Menu -->