<hr>

<div class="row-fluid">
            <h3>Related Projects</h3>
        </div>
        <div class="row-fluid">
            <!-- start: Related Projects -->
            <section class="portfolio related-projects thumbnails">

                <article data-id="id-1" data-type="" class="span3">
                            <div class="thumbnail hover-pf1">
                                <img src="/example/fmecloud_1.jpg" alt="FMECloud"/>
                                <div class="mask-1"></div>
                                <div class="mask-2"></div>
                                <div class="caption">
                                    <h2 class="title"><a href="#">FME Cloud</a></h2>
                                    <p>Platform as a Service (PAAS) to bring our client's software into the cloud. Built on top of the Amazon Cloud.</p>
                                    <a href="./fme-cloud.html" class="info btn btn-inverse">Read More</a>
                                </div>
                            </div>
                        </article>

                        <article  data-id="id-2" data-type="" class="span3">
                            <div class="thumbnail hover-pf1">
                                <img src="/example/geolaunch_1.jpg" alt="Geolaunch"/>
                                <div class="mask-1"></div>
                                <div class="mask-2"></div>
                                <div class="caption">
                                    <h2 class="title"><a href="#">Geolaunch</a></h2>
                                    <p>Software as a Service (SAAS) solution to provide mobile developers with a platform to deliver geo notifications.</p>
                                    <a href="./geolaunch.html" class="info btn btn-inverse">Read More</a>
                                </div>
                            </div>
                        </article>

                        <article data-id="id-3" data-type="" class="span3">
                            <div class="thumbnail hover-pf1">
                                <img src="/example/housetrip_1.jpg" alt=""/>
                                <div class="mask-1"></div>
                                <div class="mask-2"></div>
                                <div class="caption">
                                    <h2 class="title"><a href="#">Housetrip</a></h2>
                                    <p>We supported one of the leading holiday rental booking sites with developer resources.</p>
                                    <a href="./housetrip.html" class="info btn btn-inverse">Read More</a>
                                </div>
                            </div>
                        </article>


                        <article data-id="id-4" data-type="" class="span3">
                            <div class="thumbnail hover-pf1">
                                <img src="/example/breadcrumbs_1.jpg" alt=""/>
                                <div class="mask-1"></div>
                                <div class="mask-2"></div>
                                <div class="caption">
                                    <h2 class="title"><a href="#">Breadcrumbs</a></h2>
                                    <p>Our own GPS Track Management application <em>Breadcrumbs</em>.</p>
                                    <a href="./breadcrumbs.html" class="info btn btn-inverse">Read More</a>
                                </div>
                            </div>
                        </article>


            </section>
            <!-- end: Related Projects -->
        </div>