---
layout: default_de

---
<div id="post">

    <div class="row">

        <!-- start: Page section -->
        <section id="page-sidebar" class="pull-left span8">

            <!-- start: posts-->

            <article class="blog-post" itemscope="" itemtype="http://schema.org/BlogPosting">
                <h3 class="post-title" itemprop="name headline">{{ page.title }}</h3>

                <div class="blog-post-inner">
                    {% if page.blog_image %}
                    <div class="post-media">
                     <div id="mainslider" class="flexslider ps-slider">
                        <div class="flex-viewport" style="overflow: hidden; position: relative; height: 356px;">
                        <ul class="slides" style="width: 800%; margin-left: 0px;">
                                <li style="width: 750px; float: left; display: block;" class="flex-active-slide"><img src="/images/{{ page.blog_image %}}" alt=""></li>
                        </ul>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="post-content" itemprop="articleBody">
                        <div class="row-fluid">
                            <ul class="post-meta">
                                <li>
                                    <a href="#" class="post-meta-date">
                                        <span class="line1" datetime="page.date" itemprop="datePublished">{{page.date | date_to_string}}</span>
                                    </a>
                                </li>
                                {% for category in page.categories %}
                                <li><span class="post-meta-label"><i class="icon-tags"></i></span> <a
                                        href="#">{{category}}</a></li>
                                {% endfor %}
                                <li>
                                  <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">

                                        <a href="#"><i class="icon-user"> by <span itemprop="name">{{ page.author }}</span></i></a>

                                 </span>
                                </li>
                            </ul>
                            {{content}}
                        </div>
                    </div>
                </div>
            </article>
            <!-- end: posts-->
        </section>
        <!-- end: Page section -->

        <aside id="sidebar" class="span4 pull-right">
            <section class="widget">

                <h3 class="widget-title">About me</h3>
                <p>
                    I'm an experienced software architect
                    helping companies to bring their projects
                    to life.
                </p>
                <a class="btn btn-primary" href="/unternehmen.html">Available for hire.</a>


            </section>



            <!-- start: Tag Cloud -->
            <section class="widget">

                <h3 class="widget-title">Tags</h3>

                <div class="tags">
                    <a href="#"><i class="icon-tag"></i>css</a>
                    {% for tag in page.tags %}
                    <a href="#"><i class="icon-tag"></i>{{ tag }}</a>
                    {% endfor %}

                </div>
            </section>
            <!-- end: Tag Cloud -->

            <!-- start: popular posts-->
            <section class="widget popular-posts">

                            <h3 class="widget-title">Related Posts</h3>
                {% for post in site.related_posts limit:5 %}
                            <div class="widget-inner">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                        <p>{{ post.excerpt_short}}</p>
                                    </div>
                                </div>
                            </div>
                {% endfor %}

                        </section>
            <!-- end: popular posts-->

        </aside>
        <!-- end: Sidebar -->

    </div>


</div>
